@{
    Layout = "_EmailLayout";
    ViewBag.Title = "";
}

@section EmailHeader{Subject: Ново барање}

    <p>Почитувани,</p>

    <p>
        Поднесено е барање што ги исполнува условите кои вие ги исполнувате. Ве молиме притиснете го следниов <a href="@ViewBag.Callback">линк</a> за да погледнете
    </p>
    <p>
        Со почит,
        SPaPS
    </p>